# Always ignore version control
.git/
__pycache__/

# Ignore secrets
.env
choosey-463422-firebase-adminsdk.json

# Ignore scratch and test files
tests/
backups/
scratch_files/
archive/

# Ignore legacy files
app_jinja.py
templates/
static/
choosey-frontend/

# Ignore editor folders
.vscode/
.idea/

cron.yaml
app_jinja.py
