# Always ignore version control
.git/
__pycache__/

# Ignore secrets
.env
choosey-463422-firebase-adminsdk.json

# Ignore scratch and test files
scratch1.py
scratch2.py
scratch3.py
scratch4.js
hold_code.py
tests/
backups/

# Ignore legacy files
app_jinja.py
templates/
static/

# Ignore editor folders
.vscode/
.idea/