
body {
  background-color: #191919;
  color: #7f7f7f;
  font-family: Arial, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 105px;
}


header, footer {
  background-color: #949494;
  color: #ffffff;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  color: #FF4F81;
  text-shadow: 2px 2px #222;
  margin: 0;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #CCCCCC;
  margin: 0;
}

h3 {
  color: #FF4F81 ;
}

h4 {
  color: #FF4F81;
  font-size: medium;
  margin-top: 5px;
  margin-bottom: 5px;
}

h5 {
  color: #ffffff;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0.3em;
  font-weight: 500;
}

h6 {
  color: #595959;
  font-size: medium;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: larger;
}

p {
  color:#c3c3c3;
}

input {
  font-size: 1em;
  padding: 2px 3px;
  border-radius: 5px;
  border: none;
}

.bubble-input {
  border-radius: 15px;
  padding: 8px 12px;   /* controls height visually */
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  width: auto;
}

select {
  font-size: 1em;
  padding: 2px 3px;
}

.container {
  width: 100%;
  margin: 15px auto;
  background-color: #2f2f2f;
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.head-container {
  width: 100%;
  margin: 15px auto;
  /*background-color: #353535;*/
  background-color: #2f2f2f;
  color: #7f7f7f;
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.box-container {
  width: 100%;
  margin: 15px auto;
  background-color: #1d1d1d;
  border-radius: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
}

/* Default: Desktop layout (menu bar at top) */
.menu-container {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  background-color: var(--menu-bg);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  background: rgba(28,28,28,0.9);
  backdrop-filter: blur(2px);       /* subtle glass effect */
  -webkit-backdrop-filter: blur(2px); /* Safari support */
}


@media (max-width: 768px) {
  .menu-container {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.2);
    background: rgba(28,28,28,0.9);
    padding-bottom: env(safe-area-inset-bottom);
    z-index: 100;
  }
}



.icon-mobile {
  display: none;
}

.icon-desktop {
  display: inline;
}
/* Mobile offset to lift bar above bottom menu */
@media (max-width: 768px) {
  .full-audio-bar {
    bottom: 90px !important;
  }
  .icon-mobile {
    display: inline;
  }
  .icon-desktop {
    display: none;
  }
}

/* === Full Audiobook Bar Styles === */
.full-audio-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: calc(100% - 40px);

  border-radius: 20px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  background: rgba(28,28,28,0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: -4px -4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  z-index: 90;
  transition: transform 0.25s ease;/*, opacity 0.25s ease;*/
  touch-action: none; /* prevent scroll interference */
}

.full-audio-bar.hidden {
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.full-audio-bar.visible {
  transform: translateY(0);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.audio-title-container {
  width: 100%;
  /*border: 1px solid #d7d7d7;*/
}

.audio-progress-time-container {
  margin-top: 5px;
  width: 100%;
  /*border: 1px solid #d7d7d7;*/
}

.audio-progress {
  width: calc(100% - 10px);
  height: 6px;
  accent-color: #FF4F81;
  cursor: pointer;
}

.audio-timestamp {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}


.audio-play-pause-skip-container {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 0px;
  /*border: 1px solid #d7d7d7;*/
}

.mini-audio-bar {
  transition: transform 0.25s ease, opacity 0.25s ease;
  touch-action: none;
}

.mini-audio-controls {
  display: flex;
  align-items: center;
  gap: 0px;
  position: absolute;
  top: 3px;
  right: 5px;
  z-index: 120;
  padding: 0px;
}

.mini-audio-controls button {
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease;
}

.mini-audio-controls button:hover {
  opacity: 0.7;
}

.marquee-container {
  width: 50px;                 /* fixed width */
  overflow: hidden;            /* hide overflow */
  white-space: nowrap;         /* prevent wrapping */
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  transition: background-color 0.15s ease, color 0.15s ease;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.marquee-text {
  display: inline-block;
  padding-left: 100%;          /* start off-screen to the right */
  animation: scroll-left 10s linear infinite;
}




@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* Dark and light theme variants */
body.dark-theme .full-audio-bar {
  background: rgba(28,28,28,0.9);
  color: #fff;
}
body.light-theme .full-audio-bar {
  background: rgba(240,240,240,0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  color: #000;
}

.modal-loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background: rgba(25, 25, 25, 0.95);
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}


.signup-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin: 15px auto;
  /*background-color: #1d1d1d;*/
  border-radius: 20px;
  background: rgba(28,28,28,0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-height: 80dvh;
  overflow-y: auto;

}


.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;   /* centers icon + text horizontally */
  justify-content: center;
}

.menu-icon {
  height: 40px;
  margin-bottom: -15px;   /* spacing between icon and text */
}

@media (max-width: 400px) {
  span {
    font-size: .85em;
  }
  .marquee-container {
    width: 45px;
  }
}

.info-section {
  background-color: #2f2f2f;
  border-radius: 20px;
  padding-top: 13px;
  padding-bottom: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 10px;
}

.info-section p {
  color: #999
}
.info-section strong {
  color: #b9b9b9
}

.reader-container {
  width: 100%;
  margin: 15px auto;
  /*background-color: #353535;*/
  background-color: #2f2f2f;
  border-radius: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  color: #dbd9d9;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
}

.decision-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.decision-button {
  background-color: #4e4e4e;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.15s ease, color 0.15s ease;
  white-space: normal;         /* allow text to wrap */
  word-wrap: break-word;       /* break long words if needed */
}
.decision-button:hover {
  background-color: #FF4F81;
}

.outline-container {
  width: 100%;
  margin: 15px auto;
  padding-right: 10px;
  background-color: transparent;
  /*border: 2px solid #d7d7d7;*/
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: auto; 
  margin-top: 0em;
}


.button {
  background-color: #FF4F81;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.15s ease, color 0.15s ease;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #ff326c;
}

.button-gray {
  background-color: #272727;
  border: none;
  color: #919191;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.15s ease, color 0.15s ease;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.button-gray:hover {
  background-color: #343434;
  color: #b4b4b4;
}

.button-gray-trans {
  background-color: transparent;
  border: none;
  color: #595858;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.15s ease, color 0.15s ease;
}
.button-gray-trans:hover {
  background-color: #2a2a2a;
  color: #919191;
}

.button-drag-bar {
  background-color: transparent;
  border: none;
  color: #FF4F81;
  padding: 0px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.15s ease, color 0.15s ease;
  border-top: 1px solid rgba(28, 28, 28, 0.0);
}

.button-menu-gray {
  background-color: transparent;
  border: none;
  color: #FF4F81;
  padding: 10px 5px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.15s ease, color 0.15s ease;
  border-top: 1px solid rgba(28, 28, 28, 0.0);
}
.button-menu-gray:hover {
  background-color: #2a2a2a;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.button-menu-gray-always {
  border: none;
  color: #FF4F81;
  padding: 10px 5px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.15s ease, color 0.15s ease;
  background-color: #2a2a2a;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.button-menu-gray-always:hover {
  background-color: #222222;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.button-menu {
  background-color: #1d1d1d;

  border: none;
  color: #FF4F81;
  padding: 2px 5px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: filter 0.2s ease, color 0.2s ease;
}
.button-menu:hover {
  filter: drop-shadow(0 0 2px #FF4F81);
}


.delete-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.delete-icon {
  width: 20px;
  height: auto;
  transition: filter 0.2s ease;
}
.delete-button:hover .delete-icon {
  filter: brightness(0.6);
}

.button-heart {
  background-color: transparent;
  border: none;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.15s ease, color 0.15s ease;
}


.toggle-img {
  transition: filter 0.3s ease-in-out;
  cursor: pointer;
}


.toggle-img:hover {
  filter: drop-shadow(0 0 8px #FF4F81);
}


input::placeholder {
  color: #999;
  font-style: italic;
}


#solutions-table input[type="checkbox"] {
  width: 20px;
  height: 20px;
}


table {
  width: 100%;
  border-collapse: collapse;
  background-color: #2f2f2f;
  color: #dbdbdb;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);

}

th {
  padding: 2px 16px;
  text-align: left;
  /*border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;*/
}

td {
  padding: 5px 16px;
  text-align: left;
  /*border-bottom: 1px solid #FF4F81;
  border-right: 1px solid #FF4F81;*/
}

/* tr:hover {
  background-color: #626161;
}

td:hover {
  background-color: #626161
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}*/

th {
  background-color: #FF4F81;
  color: white;
  border-top: 1px solid rgba(255, 119, 160, 01);
}


table tbody a {
  color: #dbdbdb;
  text-decoration: none;
  font-weight: 500;
}

table tbody a:hover {
  color: #FF4F81;
  text-decoration: underline;
}


th.no-sort {
  cursor: default;
}
th.no-sort:hover::after {
  content: none !important;
}

th.sorttable_sorted::after {
  content: " ▲";
}
th.sorttable_sorted_reverse::after {
  content: " ▼";
}
th.sorttable_nosort:hover::after,
th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):hover::after {
  content: " ⇵";
  color: #FFF;
}


#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(25, 25, 25, 0.95);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.audio-button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;   /* fixed width */
  height: 30px;  /* fixed height */

}
.loading-spinner.small_white {
  border: 4px solid #ffffff;
  border-top: 4px solid #FF4F81;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
  animation: spin 1s linear infinite;
}

.loading-spinner.small {
  border: 4px solid #a3a3a3;
  border-top: 4px solid #FF4F81;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  margin-top: 0px;
  margin-bottom: 0px;
  animation: spin 1s linear infinite;
}

.loading-spinner {
  border: 8px solid #a3a3a3;
  border-top: 8px solid #FF4F81;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.local-loading {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#user_email {
  background-color: #353535;
  color: #6d6d6d;
}

/* Light theme overrides */
body.light-theme {
  background-color: #f7f7f7;
  color: #222;
}

body.light-theme a,
body.light-theme p,
body.light-theme h2,
body.light-theme table {
  /*background-color: #ebebeb;*/
  background: rgba(235, 235, 235, .9);
  color: #212121;
}

body.light-theme .bubble-input {
  /*background-color: #ebebeb;*/
  background-color: #ffffff;
  color: #212121;
}


body.light-theme .modal-content,
body.light-theme .container,
body.light-theme .signup-container,
body.light-theme .head-container,
body.light-theme .menu-container,
body.light-theme .box-container,
body.light-theme .story-info-header,
body.light-theme .reader-container {
  background: rgba(235, 235, 235, .9);
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  color: #212121;
}


body.light-theme .info-section,
body.light-theme .info-section p {
  background-color: #c9c9c9;
  color: #4e4e4e;
}

body.light-theme .info-section strong {
  color: #212121;
}

body.light-theme .modal-overlay {
  background: rgba(255, 255, 255, 0.8);
}

body.light-theme #user_email {
  background-color: #c9c9c9;
  color: #6d6d6d;

}

body.light-theme .decision-button,
body.light-theme .button-gray {
  background-color: #dedcdc;
  color: #212121;
}
body.light-theme .decision-button:hover {
  background-color: #FF4F81;
}
body.light-theme .button-gray-trans:hover,
body.light-theme .button-gray:hover {
  background-color: #cecece;
}
body.light-theme .button-gray-trans p {
  background-color: transparent;
}


body.light-theme .button-menu {
  color: #FF4F81;
  background-color: #ebebeb;
  transition: filter 0.2s ease, color 0.2s ease;
}
body.light-theme .button-menu:hover {
  filter: drop-shadow(0 0 2px #b44c85);
}

body.light-theme .button-menu-gray {
  color: #FF4F81;
  border-top: 1px solid rgba(255, 255, 255, 0.0);
  background-color: transparent;
  /*background-color: #ebebeb;*/
}

body.light-theme .button-menu-gray:hover {
  color: #FF4F81;
  background-color: #dedcdc;
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

body.light-theme .button-menu-gray-always {
  border: none;
  color: #FF4F81;
  padding: 10px 5px;
  font-size: 16px;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.15s ease, color 0.15s ease;
  background-color: #dedcdc;
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
body.light-theme .button-menu-gray-always:hover {
  background-color: #cfcfcf;
  border-top: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}


body.light-theme .decision-button,
body.light-theme .button,
body.light-theme .button-gray,
body.light-theme .button-menu {
  filter: invert(0);
}
/* Theme toggle button alignment */
#toggle-theme {
  display: inline-flex;
  align-items: center;
  gap: 8px; /* space between icon and text */
}

#toggle-theme img {
  vertical-align: middle;
}

.reader-container {
  position: relative; /* ensure positioning context */
}

.story-text {
  text-align: left;          /* nice book-like alignment */
  white-space: pre-wrap;        /* preserves line breaks from model output */
  margin: 0;
}

.story-text p {
  margin: 0 0 1.2em 0;           /* space between paragraphs */
  text-indent: 2em;            /* indent first line of paragraphs */
  margin-bottom: .5em;
  transition: color 0.2s ease;
}

.story-info-header {
  position: sticky;
  top: 0; /* sticks to top of its container */
  padding-bottom: 15px;
  /*background-color: #2f2f2f; /* match reader-container background */
  /*padding: 8px 0; /* vertical padding for comfort */
  z-index: 10; /* ensure it stays above text */
  background: rgba(28,28,28,0.9);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

#text-controls {
  position: sticky;
  top: 0; /* sticks to top of its container */
  /*background-color: #2f2f2f; /* match reader-container background */
  padding: 8px 0; /* vertical padding for comfort */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  z-index: 10; /* ensure it stays above text */
  background: rgba(47, 47, 47, .9);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

@media (min-width: 769px) {
  #text-controls {
    top: 91px;
  }
}

/* Make the sticky controls bar light when in light‐mode */
body.light-theme #text-controls {
  /*background-color: #ebebeb;*/
  background: rgba(235, 235, 235, .9);
}


body.light-theme #text-controls button {
  color: #212121;              /* dark text/icons */
}
body.light-theme #text-controls button:hover {
  background-color: #dedcdc;   /* light hover state */
}


/* Ensure loading-overlay text remains transparent in light mode */
body.light-theme #loading-overlay p {
  background-color: transparent !important;
  color: #ffffff !important; /* keep spinner text white for contrast */
}

input[type="checkbox"] {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 4px;
}

label {
  display: inline-flex;
  align-items: center;
  gap: 8px; /* space between box and text */
}

@media (max-width: 450px) {
  h1 {
    font-size: 2em; /* scale down for small screens */
  }

  h2 {
    font-size: 0.9em; /* scale down subtitle for small screens */
  }
  .head-container img {
    max-height: 100px; /* optional: smaller logo */
    border-radius: 20px; /* keep rounded corners */
  }
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
  backdrop-filter: blur(1px);
}

.modal-content {
  padding: 20px;
  border-radius: 20px;
  max-width: 400px;
  width: 85%;
  /*background-color: #2f2f2f;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);*/

  background: rgba(28,28,28,0.9);
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

body.light-theme .premium-banner {
  background: linear-gradient(180deg, #ebebeb, #ff7ca1);
}
body.light-theme .premium-banner p {
  background-color: transparent;
  color: #212121;
}

.premium-banner {
  background: linear-gradient(180deg, #2f2f2f, #612033);
  border: 1px solid #ff4f81;
  border-radius: 12px;
  padding: 20px;
  margin: 20px 0;
  text-align: center;
}
.premium-banner h3 {
  margin-bottom: 10px;
}
.premium-banner ul {
  list-style: none;
  padding: 0;
  margin: 10px 0;
}
.premium-banner li {
  margin: 6px 0;
  font-weight: 500;
}

.unlimited-benefits {
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
  background: linear-gradient(180deg, #2f2f2f, #612033);
  border: 1px solid #ff4f81;
  text-align: left;
}

.unlimited-benefits h2 {
  margin-bottom: 10px;
  color: #ff4f81;
}

.unlimited-benefits ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.unlimited-benefits li {
  margin: 8px 0;
  font-weight: 500;
}

input[type="date"].bubble-input {
  -webkit-appearance: none; /* hide iOS native look */
  -moz-appearance: none;
  appearance: none;
  min-height: 36px;         /* force same as text inputs */
  padding: 8px 12px;
  font-size: 1em;
  line-height: 1.2;
  background-color: #ffffff;
  width: auto;
  min-width: 150px;
}

.button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  
}

/*button[title="Story Info"]:hover {
  filter: drop-shadow(0 0 4px #FF4F81);
  opacity: 0.9;
}*/